runtime: python27
api_version: 1
threadsafe: yes

skip_files:
- elgrillo-pfa.appspot.com/
- .vscode/
- .vs/
- obj/
- data/
- ^(.*/)?#.*#$
- ^(.*/)?.*~$
- ^(.*/)?.*\.py[co]$
- ^(.*/)?\..*$
- README.md
- CONTRIB.md

handlers: # static then dynamic
- url: /favicon\.ico
  static_files: favicon.ico
  upload: favicon\.ico
  
- url: /css
  static_dir: static/css

- url: /js
  static_dir: static/js
  
- url: /download
  static_dir: static/download

- url: .*
  script: main.app
  login: required
  auth_fail_action: redirect
  

libraries:
- name: futures
  version: "3.0.5"
- name: enum
  version: "0.9.23"
- name: jinja2
  version: "2.6"
- name: markupsafe
  version: "0.15"
