div.detail {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: .5rem 0;
    font-size: small;
}

@media screen and (min-width: 50rem) {
    div .detail {
        font-size: medium;
    }
}