{% extends '/layout/base.html' %}
{% block title %}Eridanus::Weight{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block header %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Admin</h1>

<ul class="nav nav-pills nav-stacked">
    <li><a id="exportcsv" href="#">Export all data (.csv)</a></li>
    <!--<li><a href="/admin/import/eridanus_data_20180404_1743">Import data</a></li>
    <li><a href="/admin/import">Users</a></li>-->
</ul>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">

    function download(url) {
        window.location.href = url;
    }

    $(function() {
        $('#exportcsv').click(function(e) {
            e.preventDefault();
            download("export/csv/");
        })
    })
</script>

{% endblock %}