{% extends "/layout/base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
<style>
    div.stats-panel {
        font-size: 12px;
        line-height: 1;
        padding: 10px;
    }
    div.stats-panel p {
        margin: 4px 0px;
        color: dimgray;
    }
    span.label {
        
    }
    span.todo {
        color: orangered;
        font-weight: bold;
    }
    span.stats-number {
        font-weight: bold;
        color: #000;
    }
    span.stats-number.good {
        color: #00ff21;
    }
    span.stats-number.bad {
        color: #ff6a00;
    }
</style>
{% endblock %}
{% block header %}
{{ super() }}
{% endblock %}
{% block content%}
<h1>Welcome toEridanus</h1>


{% endblock %}